pandas
numpy
psycopg2-binary
pyyaml

requests
tenacity

kafka-python

pyspark
python-dotenv

fastapi
uvicorn
streamlit

pytest
pytest-cov

great-expectations

tqdm
colorlog

delta-spark

pyarrow
requests


sentence-transformers==3.0.1
transformers==4.41.2
